body {
    background-color: #636b6f;
}
 
button, input {
    background-color: #dccedd;
    font-size: 20px; 
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
    font-size: 20px; 
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} 

header {
     display: flex; 
    align-items: center; 
    justify-content: center; 
    height: 600px;
    background: url('/image/Saloon_general.jpg') bottom no-repeat;
    background-size: cover;
    color: #bedd10;
        
}

.headertext {
    font-size: 40px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} 

h3 {
    font-size: 40px; 
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} 

nav {
     position: relative; 
   /* top: -90;      это свойство теряется при подключении личного кабинета, задумывалось наложение nav на картинку header */
    display:flex;
    justify-content: center;
   
}
nav a {
    color:rgb(84, 25, 124);
    text-decoration: none; 
    font-size: 30px; 
    font-weight: bold; 
    letter-spacing: .2rem; 
    text-transform: uppercase;
    padding: 5px 15px; 
    justify-content: space-between;
}

div {
    text-align: center;
  }

a.reg {
    font-size: 20px;
    color:hsl(251, 81%, 12%);
    letter-spacing: .1rem; 
    text-decoration: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 2px solid #0f0f0e;
    padding: 2px;
    
}



